@import './settings/colors.scss';
@import './settings/fonts.scss';

*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
    font-family: $fontBase;
    font-weight: 300;
}

html{
    font-size: 4vw;
    color:#2D3236;
}

.react-multiple-carousel__arrow {
    background: rgba(0,0,0,0.0);
    min-width: 2rem;
    min-height: 2rem;
    bottom: 23vw;
    &:hover{
        background: rgba(0,0,0,0.0);
    }
}

.react-multiple-carousel__arrow::before {
    color: #28A9E0;
}

.logoBox{
    padding: 10px;
    width: 100vw;
    display: flex;
    justify-content: flex-start;
}

.firstContent{
    padding: 7vw;
    background-color: $primaryColor;
}

.secondContent{
    padding: 7vw;
    background-color: $altColor;
}

.miniBox{
    margin:5vw 1vw 0 1vw;
    width: 84vw;
    height: 52vw;
    background-color: white;
    padding: 7vw 14vw;
    text-align: center;
    p{
        margin: 3vw;
        color:#808080;
    }
}

.headerBox{
    text-align: center;
    padding: 0 2vw 2vw 2vw;
    h1{
        margin-bottom: 1vw;
    }
    h2{
        font-size: 0.8rem;
        margin-top: 4vw
    }
}

.altColor{
    color:white
}

.dot {
    height: 25px;
    width: 25px;
    background-color: #FF3859;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    position: relative;
    margin-top: -11px;
    margin-bottom: -12px;
    z-index: 1;
  }

  .react-multiple-carousel__arrow::before {
    font-size: 4vw;
}

@media screen and (min-width:464px){
    .react-multiple-carousel__arrow {
        min-width: 1rem;
        min-height: 1rem;
        bottom: 12vw;
    }

    .react-multiple-carousel__arrow::before {
        font-size: 2.7vw;
    }

    .miniBox{
        // :first-child{
        //     margin-left: 5vw;
        // }
        margin-top: 5vw;
        width: 41vw;
        height: 30vw;
        font-size: 0.6rem;
        padding: 3vw 2vw;
        p{
            font-size: 0.5rem;
        }
    }

    .firstContent{
        padding: 4vw;
        background-color: $primaryColor;
    }
    
    nav{
        margin-left: 2vw;

    }

    .headerBox{
        text-align: center;
        padding: 0 2vw 2vw 2vw;
        h1{
            font-size: 1rem;
        }
        h2{
            font-size: 0.57rem;
            margin-top: 4vw;
        }
    }

    .miniBoxContainer{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .react-multiple-carousel__arrow--right {
        right: calc(4% - 1vw);
    }

    .react-multiple-carousel__arrow--left {
        left: calc(4% + -3vw);
    }
}

@media screen and (min-width:1024px){
    .miniBox{
        margin: 3vw 1vw 0 2vw;
        width: 24vw;
        height: 17vw;
        font-size: 0.35rem;
        p{
            font-size: 0.3rem;
            margin:0.4rem 0;
        }
    }
    nav {
        margin-left: 0vw;
    }

    .headerBox{
        text-align: center;
        padding: 0 2vw 0 2vw;
        h1{
            font-size: 0.8rem;
        }
        h2{
            font-size: 0.57rem;
            margin-top: 4vw;
        }
        p{
            font-size: 0.45rem;
        }
    }

    .miniBoxContainer{
        display: flex;
        justify-content: space-around;
        flex-wrap: nowrap;
    }

    .secondContent{
        padding: 4vw;
    }

    .react-multi-carousel-list {
        margin-left: 2vw;
    }

    .react-multiple-carousel__arrow {
        bottom: 6vw;
    }

    .react-multiple-carousel__arrow--right {
        right: calc(4% - 3.5vw);
    }

    .react-multiple-carousel__arrow--left {
        left: calc(4% + -5.2vw);
    }

    .react-multiple-carousel__arrow::before {
        font-size: 1.5vw;
    }
}

@media screen and (min-width:1340px){

}